@inherits LayoutComponentBase


<div class="container-fluid px-0">
	<div class="d-flex flex-column">
		<CascadingValue Value=SidebarHidden>
			<Navigation />
			<div id="content-column" class="d-flex flex-row">
				@if (!SidebarHidden)
				{
					<Sidebar />
				}
				<div id="content-view" class="d-flex flex-column">
					@Body
				</div>
			</div>
		</CascadingValue>
	</div>
</div>

@code {

	[CascadingParameter] public bool SidebarHidden { get; set; } = false;

}