
<div blazor-component-type="chat-sel-window" class="d-flex flex-column">
	<div id="chat-options" class="w-100 d-flex flex-row">
		<div class="row d-flex flex-column justify-content-center align-items-center">
			<h5 class="ps-0 mb-0" style="margin-inline-start: 2rem;">Messages</h5>
		</div>
		<div class="row w-25"></div>
	</div>
</div>

@code {

}
