
<div id="navigation-wrapper" class="w-100 @ClassCollection">
	<div id="navigation-link-wrapper" class="d-flex flex-row h-100 w-100 px-0">
		<div id="brand-wrapper">

		</div>
	</div>
</div>

@code {

	[Parameter] public string ClassCollection { get; set; } = string.Empty;

}
