
<div blazor-component-type="sidebar" class="d-flex flex-column">
	<div class="mx-3">
		@if (LinkCollection.Count() > 0)
		{
			<ul class="list-group list-group-flush bg-transparent mt-3">
				@foreach (Tuple<string, string> item in LinkCollection)
				{
					<li class="list-group-item @(item.Item1.Equals("Home") ? "bg-selected" : "bg-transparent") p-3">
						<a class="text-decoration-none @(item.Item1.Equals("Home") ? "text-light" : "text-dark")" href=@item.Item2>
							<div class="">
								<span>@item.Item1</span>
							</div>
						</a>
					</li>
				}
			</ul>
		}
	</div>
</div>

@code {

	[Parameter]
	public IEnumerable<Tuple<string, string>> LinkCollection { get; set; } = Enumerable.Empty<Tuple<string, string>>();

	private Tuple<string, string>? SelectedLink { get; set; }

	protected override void OnInitialized()
	{
		;
	}

}
